 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 15px;
     line-height: 24px;
     font-weight: 400;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 .header {
     background-image: url('../images/header-bg.png');
     max-height: 1366px;
     height: 793px;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 .container {
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .header__top {
     display: flex;
     justify-content: space-between;
     height: 100px;
     align-items: center;
 }

 .menu__list {
     display: flex;
 }

 .menu__list li {
     list-style-type: none;
 }

 .menu__list a {
     opacity: 0.6;
     color: #fff;
     font-weight: 500;
     font-size: 20px;
     text-transform: uppercase;
     transition: all .5s;
 }

 .menu__list a:hover {
     opacity: 1;
     font-weight: 600;
     background-color: rgba(197, 197, 197, 0.219);
     padding: 5px 15px;
     border-radius: 25px;
 }

 .menu__list li+li {
     padding-left: 50px;
 }

 .login {
     margin-right: 44px;
     color: #fff;
     text-transform: uppercase;
     font-size: 18px;
 }

 .sign-up {
     color: #250F8A;
     text-transform: uppercase;
     font-size: 18px;
     background-color: #fff;
     border-radius: 20px;
     font-weight: 600;
     padding: 8px 43px;
 }

 .header__slider {
     padding-top: 111px;
 }

 .header__slider-item {
     outline: none;
 }

 .header__slider-item-content {
     display: flex;
     justify-content: space-between;
 }

 .header__slider-item-info {
     max-width: 506px;
     color: #fff;
 }

 .header__slider-title {
     font-weight: 700;
     font-size: 45px;
     line-height: 60px;
     margin-bottom: 10px;
 }

 .header__slider_description {
     font-size: 24px;
     line-height: 55px;
     margin-bottom: 45px;
 }

 .header__slider-btn {
     font-size: 20px;
     line-height: 24px;
     color: #250F8A;
     font-weight: 600;
     background-color: #FFCA00;
     padding: 10px 39px;
     border-radius: 27px;
     outline: none;
     /* margin-top: 60px; */
 }

 .header__slider-item-images {
     margin-right: 80px;
     margin-top: 10px;
     margin: 10px 80px 0 0;
 }

 .header-dots {
     list-style-type: none;
     position: absolute;
     right: 0;
     top: 50%;
 }

 .header-dots button {
     border: none;
     background-color: #fff;
     opacity: 0.5;
     font-size: 0;
     width: 15px;
     height: 15px;
     border-radius: 7px;
     cursor: pointer;
     transition: all .5s;
     outline: none;
     margin: 13px auto;
     display: block;
 }

 .header-dots button:hover {
     opacity: 1;
 }

 .header-dots .slick-active button {
     opacity: 1;
     width: 30px;
 }

 .special {
     position: relative;
 }

 .special__left-img {
     position: absolute;
     width: 300px;
     height: 400px;
     left: -70px;
     margin-top: 80px;
 }

 .special__title {
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     line-height: 45px;
     margin-top: 35px;
     margin-bottom: 96px;
 }

 .special__items {
     display: flex;
     justify-content: space-between;
 }

 .special__item {
     width: 280px;
     height: 280px;
     margin-bottom: 93px;
 }

 .special__item-img {
     margin-bottom: 10px;
 }

 .special__item-title {
     font-size: 20px;
     font-weight: 700;
     line-height: 24px;
     text-align: center;
     margin-bottom: 10px;
 }

 .special__item-description {
     text-align: center;
     font-weight: 400;
     font-size: 20px;
     line-height: 24px;
 }

 .advantages {
     background-color: #F4F9FD;
     margin-bottom: 50px;
     padding-top: 40px;
     background-image: url(../images/bg2.png);
     background-repeat: no-repeat;
     background-position: 103% 75%;
 }

 .advantages__box {
     display: flex;
     justify-content: space-between;
     margin-bottom: 76px;
 }

 .adv__info2 {
     background-image: url(../images/adv-bg3.png);
     background-repeat: no-repeat;
     background-position: 40% 10%;
 }

 .advantages__box-info {
     max-width: 500px;
     max-height: 311px;
     padding-top: 60px;
     background-image: url(../images/title-bg.png);
     background-repeat: no-repeat;
     background-position: 8% 65%;
 }

 .advantages__box--title {
     font-size: 35px;
     line-height: 45px;
     font-weight: 700;
     margin: 88px 26px 15px 47px;
 }

 .advantages__box--text {
     font-size: 20px;
     width: 470px;
     height: 206px;
     padding-left: 45px;
 }

 .advantages__box-images {
     margin-left: 48px;
     width: 667px;
     height: 516px;
 }

 .advantages__box2__img {
     margin-right: 61px;
     width: 667px;
     height: 516px;
 }

 .image3 {
     margin-bottom: 50px;
 }

 .advantages__box--right .advantages__box2__img {
     order: 0;
 }

 .reviews {
     background-image: url(../images/reviews-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .reviews__title {
     font-size: 29px;
     font-weight: 700;
     text-align: center;
     color: #fff;
     width: 383px;
     height: 90px;
     margin-top: 38px;
     margin-bottom: 48px;
 }

 .reviews__items {
     display: flex;
     justify-content: space-between;
 }

 .reviews__item {
     background-image: url(../images/item_bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     color: #fff;
     font-size: 15px;
     line-height: 24px;
font-weight: 400;
margin-right: 20px;
margin-bottom: 82px;
border-radius:5px;
 }

 .reviews__item-head {}

 .reviews-img {
     border-radius: 25px;
 }

 .reviews__item--info {}

 .reviews__item-name {}

 .reviews__item-position {}

 .reviews__item-text {}