 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 15px;
     line-height: 24px;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 .header {
     background-image: url('../images/header-bg.png');
     min-height: 793px;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .container {
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .header__top {
     display: flex;
     justify-content: space-between;
     height: 100px;
     align-items: center;
 }

 .menu__list {
     display: flex;
 }

 .menu__list li {
     list-style-type: none;
 }

 .menu__list a {
     opacity: 0.6;
     color: #fff;
     font-weight: 500;
     font-size: 20px;
     text-transform: uppercase;
     transition: all .5s;
 }

 .menu__list a:hover {
     opacity: 1;
     font-weight: 600;
     background-color: rgba(197, 197, 197, 0.219);
     padding: 5px 15px;
     border-radius: 25px;
 }

 .menu__list li+li {
     padding-left: 50px;
 }

 .login {
     margin-right: 44px;
     color: #fff;
     text-transform: uppercase;
     font-size: 18px;
 }

 .sign-up {
     color: #250F8A;
     text-transform: uppercase;
     font-size: 18px;
     background-color: #fff;
     border-radius: 20px;
     font-weight: 600;
     padding: 8px 43px;
 }

 .header__slider {
     padding-top: 111px;
 }

 .header__slider-item {
     outline: none;
 }

 .header__slider-item-content {
     display: flex;
     justify-content: space-between;
 }

 .header__slider-item-info {
     max-width: 506px;
     color: #fff;
 }

 .header__slider-title {
     font-weight: 700;
     font-size: 45px;
     line-height: 60px;
     margin-bottom: 10px;
 }

 .header__slider_description {
     font-size: 24px;
     line-height: 55px;
     margin-bottom: 45px;
 }

 .header__slider-btn {
     font-size: 20px;
     line-height: 24px;
     color: #250F8A;
     font-weight: 600;
     background-color: #FFCA00;
     padding: 10px 39px;
     border-radius: 27px;
     outline: none;
     /* margin-top: 60px; */
 }

 .header__slider-item-images {
     margin-right: 80px;
     margin-top: 10px;
     margin: 10px 80px 0 0;
 }

 .header-dots {
     list-style-type: none;
     position: absolute;
     right: 0;
     top: 50%;
 }

 .header-dots button {
     border: none;
     background-color: #fff;
     opacity: 0.5;
     font-size: 0;
     width: 15px;
     height: 15px;
     border-radius: 7px;
     cursor: pointer;
     transition: all .5s;
     outline: none;
     margin: 13px auto;
     display: block;
 }

 .header-dots button:hover {
     opacity: 1;
 }

 .header-dots .slick-active button {
     opacity: 1;
     width: 30px;
 }

 .special {
     position: relative;
 }

 .special__left-img{
     position: absolute;
     width: 300px;
     height: 400px;
     left: -70px;
     margin-top: 80px;
 } 
 
 .special__title {
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     line-height: 45px;
     margin-bottom: 96px;
 }

 .special__items {
     display: flex;
     justify-content: space-between;
 }

 .special__item {
     width: 280px;
     height: 280px;
     margin-bottom: 93px;
 }

 .special__item-img {
     margin-bottom: 10px;
 }

 .special__item-title {
     font-size: 20px;
     font-weight: 700;
     line-height: 24px;
     text-align: center;
     margin-bottom: 10px;
 }

 .special__item-description {
     text-align: center;
 }